@import "/styles/header.css";
@import "/styles/sobrenos.css";
@import "/styles/metricas.css";
@import "/styles/vagas.css";
@import "/styles/depoimento.css";

:root {
  --branco: #ffffff;
  --cor-de-texto-primaria: #101828;
  --cor-de-texto-secundaria: #667085;
  --vermelho: #8e2424;
  --fonte-principal: "Inter";
  --cor-da-borda: #EAECF0;
}

body {
  background-color: var(--branco);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}